nodered-flow-check-status-on-nodes.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Check status on Nodes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2c400532feeec029",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "d41a5cdffaf4cd5e"
            ]
        ]
    },
    {
        "id": "efaa4e01f49f6db7",
        "type": "junction",
        "z": "f6f2187d.f17ca8",
        "x": 240,
        "y": 100,
        "wires": [
            [
                "e8b3bb579ac5447d",
                "84e050016524f5b3",
                "0b599dc989d9c0d5"
            ]
        ]
    },
    {
        "id": "b14f19a13f11756e",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "efaa4e01f49f6db7"
            ]
        ]
    },
    {
        "id": "d41a5cdffaf4cd5e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "e8b3bb579ac5447d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "jira-node1",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://jira-node1:8080/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 40,
        "wires": [
            [
                "2c400532feeec029"
            ]
        ]
    },
    {
        "id": "84e050016524f5b3",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "jira-node2",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://jira-node2:8080/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "2c400532feeec029"
            ]
        ]
    },
    {
        "id": "0b599dc989d9c0d5",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "jira-node3",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://jira-node3:8080/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "2c400532feeec029"
            ]
        ]
    }
]
